// Thông tin giấy chứng nhận
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Hợp đồng điện tử từ {Bảo Minh}
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Được cấp qua 
color: #4D4D4D;
 font-size: 13px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// {abc@gmail.com}<br/>
color: #4D4D4D;
 font-size: 13px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Có đầy đủ giá trị pháp lý để yêu cầu bồi thường sau khi thanh toán trước viện phí
color: #4D4D4D;
 font-size: 13px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Thẻ bảo hiểm điện tử từ {Bảo Minh}
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Được cấp qua 
color: #4D4D4D;
 font-size: 13px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// {abc@gmail.com}<br/>
color: #4D4D4D;
 font-size: 13px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Có thể sử dụng để yêu cầu bảo lãnh viện phí khi khám chữa bệnh (nội trú hoặc bao gồm ngoại trú tùy điều kiện thẻ)
color: #4D4D4D;
 font-size: 13px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Yêu cầu bảo lãnh viện phí
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Sử dụng thẻ bảo hiểm để trừ trực tiếp số tiền vào hợp đồng bảo hiểm.<br/>Không cần thanh toán trước.
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word